<ion-header>
  <ion-toolbar>
    <ion-title>Clima</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-content>
    <ion-card>
      
      <ion-card-header>
        <ion-card-title>{{clima}}</ion-card-title>
        <img alt="ClimaLocal" src="assets/imagen/clima.jpg" />
        <ion-card-subtitle>Santo Domingo</ion-card-subtitle>
      </ion-card-header>
  
      <ion-card-content>
        {{temp}}°F
      </ion-card-content>
    </ion-card>

</ion-content>
