<ion-header>
  <ion-toolbar>
    <ion-title>Acerca de</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>


<ion-content>

  <h2 style="text-align:center"><strong >Contactame</strong ></h2>
  
    <p style="text-align:center"><img  src="assets/imagen/imagen2x2.jpeg" height="250" width="250"></p>

  <ion-item>
    <sub>
      Raymond Del Carmen
    </sub>
  </ion-item>

  <ion-item>
    <sub>
      raymond_ivan21@outlook.com
    </sub>
  </ion-item>

  <ion-item>
    <sub>
      829-303-5614
    </sub>
  </ion-item>

</ion-content>
